In [ ]:
! pip install pandas

In [110]:
import pandas as pd
import ast
import glob
from pandas import json_normalize

In [ ]:
! pip install pandas openpyxl

In [112]:
path = r"C:\Users\Kastromani\Desktop\car_dheko"
file_list = glob.glob(path + r"/*.xlsx")
print(file_list)
excl_list = []
for file in file_list:
    excl_list.append(pd.read_excel(file))

['C:\\Users\\Kastromani\\Desktop\\car_dheko\\bangalore_cars.xlsx', 'C:\\Users\\Kastromani\\Desktop\\car_dheko\\chennai_cars.xlsx', 'C:\\Users\\Kastromani\\Desktop\\car_dheko\\delhi_cars.xlsx', 'C:\\Users\\Kastromani\\Desktop\\car_dheko\\hyderabad_cars.xlsx', 'C:\\Users\\Kastromani\\Desktop\\car_dheko\\jaipur_cars.xlsx', 'C:\\Users\\Kastromani\\Desktop\\car_dheko\\kolkata_cars.xlsx']

In [113]:
df = pd.concat(excl_list, ignore_index=True)
df.head()

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links,city
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...,bangalore
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...,bangalore
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...,bangalore
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...,bangalore
4,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...,bangalore

In [114]:
len(df)

8369

In [115]:
len(file_list)

6

In [116]:
data1= df['new_car_detail']
data2 = df['new_car_overview']
data3 = df['new_car_specs']

In [117]:
data1[0]

"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', 'km': '1,20,000', 'transmission': 'Manual', 'ownerNo': 3, 'owner': '3rd Owner', 'oem': 'Maruti', 'model': 'Maruti Celerio', 'modelYear': 2015, 'centralVariantId': 3979, 'variantName': 'VXI', 'price': 'â‚¹ 4 Lakh', 'priceActual': '', 'priceSaving': '', 'priceFixedText': None, 'trendingText': {'imgUrl': 'https://stimg.cardekho.com/used-cars/common/icons/trending.svg', 'heading': 'Trending Car!', 'desc': 'High chances of sale in next 6 days'}}"

In [118]:
# Convert the string representation of the dictionary to an actual dictionary
dict_list = [ast.literal_eval(item) for item in data1]

In [ ]:
dict_list

In [121]:
columns = {'ignition_type': [], 'Fuel_Type': [],'Body_Type': [],'Kms_Driven': [],'Transmission_Type': [],'OwnerNo': [],'Owner': [],'Manufacturer':[],
           'Model': [],'Year_Of_Manufac':[],'VariantName':[],'centralVariantId':[],'Price':[],'priceActual': [],'priceSaving': [],'priceFixedText': []}
for dic in dict_list:
    columns['ignition_type'].append(dic['it'])
    columns['Fuel_Type'].append(dic['ft'])
    columns['Body_Type'].append(dic['bt'])
    columns['Kms_Driven'].append(dic['km'])
    columns['Transmission_Type'].append(dic['transmission'])
    columns['OwnerNo'].append(dic['ownerNo'])
    columns['Owner'].append(dic['owner'])
    columns['Manufacturer'].append(dic['oem'])
    columns['Model'].append(dic['model'])
    columns['Year_Of_Manufac'].append(dic['modelYear'])
    columns['VariantName'].append(dic['variantName'])
    columns['centralVariantId'].append(dic['centralVariantId'])
    columns['Price'].append(dic['price'])
    columns['priceActual'].append(dic['priceActual'])
    columns['priceSaving'].append(dic['priceSaving'])
    columns['priceFixedText'].append(dic['priceFixedText'])

car_details = pd.DataFrame(columns)
car_details

,ignition_type,Fuel_Type,Body_Type,Kms_Driven,Transmission_Type,OwnerNo,Owner,Manufacturer,Model,Year_Of_Manufac,VariantName,centralVariantId,Price,priceActual,priceSaving,priceFixedText
0,0,Petrol,Hatchback,"1,20,000",Manual,3,3rd Owner,Maruti,Maruti Celerio,2015,VXI,3979,â‚¹ 4 Lakh,,,None
1,0,Petrol,SUV,"32,706",Manual,2,2nd Owner,Ford,Ford Ecosport,2018,1.5 Petrol Titanium BSIV,6087,â‚¹ 8.11 Lakh,,,None
2,0,Petrol,Hatchback,"11,949",Manual,1,1st Owner,Tata,Tata Tiago,2018,1.2 Revotron XZ,2983,â‚¹ 5.85 Lakh,,,None
3,0,Petrol,Sedan,"17,794",Manual,1,1st Owner,Hyundai,Hyundai Xcent,2014,1.2 Kappa S Option,1867,â‚¹ 4.62 Lakh,,,None
4,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Maruti,Maruti SX4 S Cross,2015,DDiS 200 Zeta,4277,â‚¹ 7.90 Lakh,,,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,0,Petrol,Hatchback,"10,000",Manual,1,1st Owner,Maruti,Maruti Celerio,2022,ZXI BSVI,8682,â‚¹ 5.10 Lakh,,,None
8365,0,Petrol,Hatchback,"1,20,000",Manual,1,1st Owner,Maruti,Maruti Alto 800,2014,LXI,3943,â‚¹ 1.80 Lakh,,,None
8366,0,Petrol,Sedan,"50,000",Automatic,3,3rd Owner,Mercedes-Benz,Mercedes-Benz C-Class,2011,C 200 CGI Elegance,4672,â‚¹ 5.50 Lakh,,,None
8367,0,Petrol,Hatchback,"40,000",Manual,1,1st Owner,Maruti,Maruti Ritz,2012,ZXi,4144,â‚¹ 1.40 Lakh,,,None
8368,0,Diesel,SUV,"1,20,000",Manual,2,2nd Owner,Renault,Renault Duster,2017,110PS Diesel RxZ AWD,5048,â‚¹ 5 Lakh,,,None

In [122]:
car_details.drop(columns=['Owner','Transmission_Type','ignition_type','priceFixedText','priceSaving','priceActual','centralVariantId','VariantName'], inplace=True)

In [ ]:
car_details.columns

In [124]:
data2 = df['new_car_overview']

In [ ]:
data2

In [126]:
# Convert the string representation of the dictionary to an actual dictionary
dict_list1= [ast.literal_eval(item) for item in data2]

In [ ]:
dict_list1

In [ ]:
for row in dict_list1:
    print(row)

In [ ]:
for row in dict_list1:
    for item in row['top']:
        print({item['key']: item['value']})
  
    break

In [130]:
# Function to convert each row's 'top' list into a dictionary
def convert_top_to_dict(row):
    return {item['key']: item['value'] for item in row['top']}

# Apply the function to each row and convert the 'top' data into a DataFrame
car_overview = pd.DataFrame([convert_top_to_dict(row) for row in dict_list1])

In [131]:
car_overview

,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture
0,2015,Third Party insurance,Petrol,5 Seats,"1,20,000 Kms",KA51,Third Owner,998 cc,Manual,2015.0
1,Feb 2018,Comprehensive,Petrol,5 Seats,"32,706 Kms",KA05,Second Owner,1497 cc,Manual,2018.0
2,Sept 2018,Comprehensive,Petrol,5 Seats,"11,949 Kms",KA03,First Owner,1199 cc,Manual,2018.0
3,Dec 2014,Comprehensive,Petrol,5 Seats,"17,794 Kms",KA53,First Owner,1197 cc,Manual,2014.0
4,2015,Third Party insurance,Diesel,5 Seats,"60,000 Kms",KA04,First Owner,1248 cc,Manual,2015.0
...,...,...,...,...,...,...,...,...,...,...
8364,2022,Third Party insurance,Petrol,5 Seats,"10,000 Kms",NaN,First Owner,998 cc,Manual,2022.0
8365,2014,Third Party insurance,Petrol,5 Seats,"1,20,000 Kms",NaN,First Owner,796 cc,Manual,2014.0
8366,2011,Third Party insurance,Petrol,5 Seats,"50,000 Kms",WB06,Third Owner,1796 cc,Automatic,2011.0
8367,2012,Third Party insurance,Petrol,5 Seats,"40,000 Kms",NaN,First Owner,1197 cc,Manual,2012.0
8368,2017,Third Party insurance,Diesel,5 Seats,"1,20,000 Kms",NaN,Second Owner,1461 cc,Manual,2017.0

In [132]:
car_overview.drop(columns=['Fuel Type','Year of Manufacture','Insurance Validity'],inplace=True)

In [ ]:
car_overview.columns

In [134]:
data3=df['new_car_specs']

In [ ]:
data3

In [136]:
# Convert the string representation of the dictionary to an actual dictionary
dict_list2= [ast.literal_eval(item) for item in data3]

In [ ]:
dict_list2

In [ ]:
for row in dict_list2:
    for item in row['top']:
        print({item['key']: item['value']})

In [139]:
# Function to convert each row's 'top' list into a dictionary
def convert_top_to_dict(row):
    return {item['key']: item['value'] for item in row['top']}

# Apply the function to each row and convert the 'top' data into a DataFrame
car_specs1= pd.DataFrame([convert_top_to_dict(row) for row in dict_list2])

In [140]:
car_specs1

         Mileage   Engine  Max Power    Torque Seats Wheel Size
0      23.1 kmpl   998 CC   67.04bhp      90Nm     5        NaN
1        17 kmpl  1497 CC  121.31bhp     150Nm     5         16
2     23.84 kmpl  1199 CC      84bhp     114Nm     5         14
3      19.1 kmpl  1197 CC   81.86bhp  113.75Nm     5         14
4     23.65 kmpl  1248 CC    88.5bhp     200Nm     5         16
...          ...      ...        ...       ...   ...        ...
8364  25.24 kmpl   998 CC   65.71bhp      89Nm     5        NaN
8365  22.74 kmpl   796 CC    47.3bhp      69Nm     5        NaN
8366  11.74 kmpl  1796 CC     186bhp     285Nm     5         17
8367   18.5 kmpl  1197 CC   85.80bhp     114Nm     5         14
8368  19.72 kmpl  1461 CC  108.45bhp     245Nm     5         16

[8369 rows x 6 columns]

In [141]:
import numpy as np

In [ ]:
i=0
for row in dict_list2:
    for item in row['data'][i]['list']:
        print({item['key']: item['value']})

In [ ]:
for row in dict_list2:
    for item in row['data']:
        print(item['list'][0])
        break

In [144]:
# Function to convert each row's 'top' list into a dictionary
def convert_top_to_dict(row):
    i=0
    return {item['key']: item['value'] for item in row['data'][i]['list']}

# Apply the function to each row and convert the 'top' data into a DataFrame
car_specs2 = pd.DataFrame([convert_top_to_dict(row) for row in dict_list2])

In [145]:
car_specs2

,Color,Engine Type,Displacement,Max Power,Max Torque,No of Cylinder,Values per Cylinder,Value Configuration,Fuel Suppy System,BoreX Stroke,Compression Ratio,Turbo Charger,Super Charger,Seating Capacity,Steering Type,Tyre Type,Alloy Wheel Size,No Door Numbers
0,White,K10B Engine,998,67.04bhp@6000rpm,90Nm@3500rpm,3.0,4.0,DOHC,MPFi,73 X 82 mm,11.0:1,No,No,NaN,NaN,NaN,NaN,NaN
1,White,Ti-VCT Petrol Engine,1497,121.31bhp@6500rpm,150Nm@4500rpm,3.0,4.0,DOHC,Direct Injection,79 X 76.5 mm,11.0:1,No,No,NaN,NaN,NaN,NaN,NaN
2,Red,Revotron Engine,1199,84bhp@6000rpm,114Nm@3500rpm,3.0,4.0,DOHC,MPFi,77 X 85.8 mm,10.8:1,No,No,NaN,NaN,NaN,NaN,NaN
3,Others,Kappa VTVT Petrol Engine,1197,81.86bhp@6000rpm,113.75Nm@4000rpm,4.0,4.0,DOHC,Direct Injection,NaN,NaN,No,No,NaN,NaN,NaN,NaN,NaN
4,Gray,DDiS 200 Diesel Engine,1248,88.5bhp@4000rpm,200Nm@1750rpm,4.0,4.0,DOHC,NaN,69.6 x 82 mm,NaN,Yes,No,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,Others,K10C,998,65.71bhp@5500rpm,89Nm@3500rpm,3.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8365,Others,F8D Petrol Engine,796,47.3bhp@6000rpm,69Nm@3500rpm,3.0,4.0,DOHC,MPFi,NaN,NaN,No,No,NaN,NaN,NaN,NaN,NaN
8366,Others,Blue Efficiency Engine,1796,186bhp@5600rpm,285Nm@2400-4000rpm,4.0,4.0,NaN,Mpfi,NaN,9.3:1,No,No,NaN,NaN,NaN,NaN,NaN
8367,Others,K Series Petrol Engine,1197,85.80bhp@6000rpm,114Nm@4000rpm,4.0,4.0,DOHC,MPFI,NaN,NaN,No,No,NaN,NaN,NaN,NaN,NaN
8368,Others,dCi THP Diesel Engine,1461,108.45bhp@4000rpm,245Nm@1750rpm,4.0,4.0,DOHC,CRDi,NaN,NaN,Yes,No,NaN,NaN,NaN,NaN,NaN

In [146]:
car_specs2.columns

Index(['Color', 'Engine Type', 'Displacement', 'Max Power', 'Max Torque',
       'No of Cylinder', 'Values per Cylinder', 'Value Configuration',
       'Fuel Suppy System', 'BoreX Stroke', 'Compression Ratio',
       'Turbo Charger', 'Super Charger', 'Seating Capacity', 'Steering Type',
       'Tyre Type', 'Alloy Wheel Size', 'No Door Numbers'],
      dtype='object')

In [147]:
car_specs2.drop(columns=['Max Power', 'Max Torque'],inplace=True)

In [148]:
# Concatenate 'car_specs1' with all the 'car_specs2' into a single DataFrame
car_specs = pd.concat([car_specs1, car_specs2],axis=1)

In [149]:
car_specs

,Mileage,Engine,Max Power,Torque,Seats,Wheel Size,Color,Engine Type,Displacement,No of Cylinder,...,Fuel Suppy System,BoreX Stroke,Compression Ratio,Turbo Charger,Super Charger,Seating Capacity,Steering Type,Tyre Type,Alloy Wheel Size,No Door Numbers
0,23.1 kmpl,998 CC,67.04bhp,90Nm,5,NaN,White,K10B Engine,998,3.0,...,MPFi,73 X 82 mm,11.0:1,No,No,NaN,NaN,NaN,NaN,NaN
1,17 kmpl,1497 CC,121.31bhp,150Nm,5,16,White,Ti-VCT Petrol Engine,1497,3.0,...,Direct Injection,79 X 76.5 mm,11.0:1,No,No,NaN,NaN,NaN,NaN,NaN
2,23.84 kmpl,1199 CC,84bhp,114Nm,5,14,Red,Revotron Engine,1199,3.0,...,MPFi,77 X 85.8 mm,10.8:1,No,No,NaN,NaN,NaN,NaN,NaN
3,19.1 kmpl,1197 CC,81.86bhp,113.75Nm,5,14,Others,Kappa VTVT Petrol Engine,1197,4.0,...,Direct Injection,NaN,NaN,No,No,NaN,NaN,NaN,NaN,NaN
4,23.65 kmpl,1248 CC,88.5bhp,200Nm,5,16,Gray,DDiS 200 Diesel Engine,1248,4.0,...,NaN,69.6 x 82 mm,NaN,Yes,No,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,25.24 kmpl,998 CC,65.71bhp,89Nm,5,NaN,Others,K10C,998,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8365,22.74 kmpl,796 CC,47.3bhp,69Nm,5,NaN,Others,F8D Petrol Engine,796,3.0,...,MPFi,NaN,NaN,No,No,NaN,NaN,NaN,NaN,NaN
8366,11.74 kmpl,1796 CC,186bhp,285Nm,5,17,Others,Blue Efficiency Engine,1796,4.0,...,Mpfi,NaN,9.3:1,No,No,NaN,NaN,NaN,NaN,NaN
8367,18.5 kmpl,1197 CC,85.80bhp,114Nm,5,14,Others,K Series Petrol Engine,1197,4.0,...,MPFI,NaN,NaN,No,No,NaN,NaN,NaN,NaN,NaN
8368,19.72 kmpl,1461 CC,108.45bhp,245Nm,5,16,Others,dCi THP Diesel Engine,1461,4.0,...,CRDi,NaN,NaN,Yes,No,NaN,NaN,NaN,NaN,NaN

In [41]:
car_links=df['car_links']

In [47]:
car_city=df['city']

In [162]:
car_details_6states= pd.concat([car_details,car_overview,car_specs], axis=1)

In [168]:
car_details_6states

,Fuel_Type,Body_Type,Kms_Driven,OwnerNo,Manufacturer,Model,Year_Of_Manufac,Price,Seats,Engine Displacement,Transmission,Mileage,Engine,Max Power,Seats
0,Petrol,Hatchback,"1,20,000",3,Maruti,Maruti Celerio,2015,â‚¹ 4 Lakh,5 Seats,998 cc,Manual,23.1 kmpl,998 CC,67.04bhp,5
1,Petrol,SUV,"32,706",2,Ford,Ford Ecosport,2018,â‚¹ 8.11 Lakh,5 Seats,1497 cc,Manual,17 kmpl,1497 CC,121.31bhp,5
2,Petrol,Hatchback,"11,949",1,Tata,Tata Tiago,2018,â‚¹ 5.85 Lakh,5 Seats,1199 cc,Manual,23.84 kmpl,1199 CC,84bhp,5
3,Petrol,Sedan,"17,794",1,Hyundai,Hyundai Xcent,2014,â‚¹ 4.62 Lakh,5 Seats,1197 cc,Manual,19.1 kmpl,1197 CC,81.86bhp,5
4,Diesel,SUV,"60,000",1,Maruti,Maruti SX4 S Cross,2015,â‚¹ 7.90 Lakh,5 Seats,1248 cc,Manual,23.65 kmpl,1248 CC,88.5bhp,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,Petrol,Hatchback,"10,000",1,Maruti,Maruti Celerio,2022,â‚¹ 5.10 Lakh,5 Seats,998 cc,Manual,25.24 kmpl,998 CC,65.71bhp,5
8365,Petrol,Hatchback,"1,20,000",1,Maruti,Maruti Alto 800,2014,â‚¹ 1.80 Lakh,5 Seats,796 cc,Manual,22.74 kmpl,796 CC,47.3bhp,5
8366,Petrol,Sedan,"50,000",3,Mercedes-Benz,Mercedes-Benz C-Class,2011,â‚¹ 5.50 Lakh,5 Seats,1796 cc,Automatic,11.74 kmpl,1796 CC,186bhp,5
8367,Petrol,Hatchback,"40,000",1,Maruti,Maruti Ritz,2012,â‚¹ 1.40 Lakh,5 Seats,1197 cc,Manual,18.5 kmpl,1197 CC,85.80bhp,5
8368,Diesel,SUV,"1,20,000",2,Renault,Renault Duster,2017,â‚¹ 5 Lakh,5 Seats,1461 cc,Manual,19.72 kmpl,1461 CC,108.45bhp,5

In [152]:
len(car_details_6states)

8369

In [ ]:
car_details_6states.info()

In [170]:
car_details_6states.isnull().sum()

Fuel_Type                0
Body_Type                0
Kms_Driven               0
OwnerNo                  0
Manufacturer             0
Model                    0
Year_Of_Manufac          0
Price                    0
Seats                    6
Engine Displacement      4
Transmission             0
Mileage                287
Engine                   4
Max Power               60
Seats                    5
dtype: int64

In [171]:
car_details_6states.columns

Index(['Fuel_Type', 'Body_Type', 'Kms_Driven', 'OwnerNo', 'Manufacturer',
       'Model', 'Year_Of_Manufac', 'Price', 'Seats', 'Engine Displacement',
       'Transmission', 'Mileage', 'Engine', 'Max Power', 'Seats'],
      dtype='object')

In [172]:
# To handle duplicate columns, assign a new name to one of them
car_details_6states.columns = ['Fuel_Type', 'Body_Type', 'Kms_Driven', 'Owner_No', 'Manufacturer','Model', 'Year_Of_Manufac',
 'Price', 'Seats1','Engine_Displacement(cc)', 'Transmission_Type', 'Mileage(kmpl)','Engine','Max_Power(bhp)', 'Seats', ]  # Assign new names directly

In [173]:
# Drop the column
car_details_6states = car_details_6states.drop(columns=['Seats1','Engine'], axis=1)

In [174]:
car_details_6states

,Fuel_Type,Body_Type,Kms_Driven,Owner_No,Manufacturer,Model,Year_Of_Manufac,Price,Engine_Displacement(cc),Transmission_Type,Mileage(kmpl),Max_Power(bhp),Seats
0,Petrol,Hatchback,"1,20,000",3,Maruti,Maruti Celerio,2015,â‚¹ 4 Lakh,998 cc,Manual,23.1 kmpl,67.04bhp,5
1,Petrol,SUV,"32,706",2,Ford,Ford Ecosport,2018,â‚¹ 8.11 Lakh,1497 cc,Manual,17 kmpl,121.31bhp,5
2,Petrol,Hatchback,"11,949",1,Tata,Tata Tiago,2018,â‚¹ 5.85 Lakh,1199 cc,Manual,23.84 kmpl,84bhp,5
3,Petrol,Sedan,"17,794",1,Hyundai,Hyundai Xcent,2014,â‚¹ 4.62 Lakh,1197 cc,Manual,19.1 kmpl,81.86bhp,5
4,Diesel,SUV,"60,000",1,Maruti,Maruti SX4 S Cross,2015,â‚¹ 7.90 Lakh,1248 cc,Manual,23.65 kmpl,88.5bhp,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,Petrol,Hatchback,"10,000",1,Maruti,Maruti Celerio,2022,â‚¹ 5.10 Lakh,998 cc,Manual,25.24 kmpl,65.71bhp,5
8365,Petrol,Hatchback,"1,20,000",1,Maruti,Maruti Alto 800,2014,â‚¹ 1.80 Lakh,796 cc,Manual,22.74 kmpl,47.3bhp,5
8366,Petrol,Sedan,"50,000",3,Mercedes-Benz,Mercedes-Benz C-Class,2011,â‚¹ 5.50 Lakh,1796 cc,Automatic,11.74 kmpl,186bhp,5
8367,Petrol,Hatchback,"40,000",1,Maruti,Maruti Ritz,2012,â‚¹ 1.40 Lakh,1197 cc,Manual,18.5 kmpl,85.80bhp,5
8368,Diesel,SUV,"1,20,000",2,Renault,Renault Duster,2017,â‚¹ 5 Lakh,1461 cc,Manual,19.72 kmpl,108.45bhp,5

In [175]:
car_details_6states.isnull().sum()

Fuel_Type                    0
Body_Type                    0
Kms_Driven                   0
Owner_No                     0
Manufacturer                 0
Model                        0
Year_Of_Manufac              0
Price                        0
Engine_Displacement(cc)      4
Transmission_Type            0
Mileage(kmpl)              287
Max_Power(bhp)              60
Seats                        5
dtype: int64

In [176]:
car_details_6states.duplicated().sum()

np.int64(135)

In [177]:
# Drop rows with any null values
car_details_6states = car_details_6states.dropna()

In [178]:
# Drop duplicate rows based on all columns
car_details_6states = car_details_6states.drop_duplicates()

In [179]:
car_details_6states.isnull().sum()

Fuel_Type                  0
Body_Type                  0
Kms_Driven                 0
Owner_No                   0
Manufacturer               0
Model                      0
Year_Of_Manufac            0
Price                      0
Engine_Displacement(cc)    0
Transmission_Type          0
Mileage(kmpl)              0
Max_Power(bhp)             0
Seats                      0
dtype: int64

In [180]:
car_details_6states.duplicated().sum()

np.int64(0)

In [181]:
car_details_6states.shape

(7912, 13)

In [182]:
car_details_6states.columns

Index(['Fuel_Type', 'Body_Type', 'Kms_Driven', 'Owner_No', 'Manufacturer',
       'Model', 'Year_Of_Manufac', 'Price', 'Engine_Displacement(cc)',
       'Transmission_Type', 'Mileage(kmpl)', 'Max_Power(bhp)', 'Seats'],
      dtype='object')

Handling the missing values

In [183]:
sampledf = car_details_6states[["Model","Seats"]].dropna().drop_duplicates()
car_dict = sampledf.set_index("Model")["Seats"].to_dict()

car_details_6states["Seats"] = car_details_6states["Seats"].fillna(car_details_6states["Model"].map(car_dict))

In [184]:
car_dict

{'Maruti Celerio': '5',
 'Ford Ecosport': '5',
 'Tata Tiago': '5',
 'Hyundai Xcent': '5',
 'Maruti SX4 S Cross': '5',
 'Jeep Compass': '5',
 'Datsun GO': '5',
 'Hyundai Venue': '5',
 'Maruti Ciaz': '5',
 'Maruti Baleno': '5',
 'Hyundai Grand i10': '5',
 'Honda Jazz': '5',
 'Mahindra XUV500': '7',
 'Hyundai i20': '5',
 'Tata Nexon': '5',
 'Honda City': '5',
 'BMW 5 Series': '5',
 'Maruti Swift': '5',
 'Renault Duster': '5',
 'Mercedes-Benz S-Class': '4',
 'Hyundai Santro': '5',
 'Hyundai Santro Xing': '5',
 'Mercedes-Benz E-Class': '2',
 'Audi A4': '5',
 'Maruti Wagon R': '5',
 'Maruti Ertiga': '7',
 'Mercedes-Benz C-Class': '4',
 'Toyota Fortuner': '7',
 'Hyundai Elantra': '5',
 'Audi A6': '5',
 'Maruti Alto 800': '4',
 'Mahindra Scorpio': '9',
 'Mini 3 DOOR': '4',
 'Kia Seltos': '5',
 'Maruti Alto': '5',
 'Mercedes-Benz GL-Class': '7',
 'Tata New Safari': '7',
 'Audi Q7': '7',
 'Renault KWID': '5',
 'Hyundai Getz': '5',
 'Skoda Rapid': '5',
 'Hyundai Creta': '5',
 'Tata Harrier': '5',
 'BMW 3 Series GT': '5',
 'Renault Lodgy': '7',
 'Skoda Octavia': '5',
 'Maruti Ritz': '5',
 'Volkswagen Polo': '5',
 'Mahindra KUV 100': '5',
 'BMW X3': '5',
 'Hyundai i10': '5',
 'Volvo S60': '5',
 'Mahindra XUV300': '5',
 'MG Hector Plus': '6',
 'Honda Brio': '5',
 'Maruti Alto K10': '5',
 'Renault Kiger': '5',
 'Hyundai EON': '5',
 'Volkswagen Vento': '5',
 'Toyota Yaris': '5',
 'MG Hector': '5',
 'Hyundai Alcazar': '7',
 'Volkswagen T-Roc': '5',
 'BMW 3 Series': '5',
 'Skoda Superb': '5',
 'Audi Q5': '5',
 'Ford Endeavour': '7',
 'Ford Figo': '5',
 'Maruti Ignis': '5',
 'Renault Triber': '7',
 'BMW X5': '5',
 'Hyundai Tucson': '5',
 'Hyundai Verna': '5',
 'Mercedes-Benz GLC': '5',
 'Nissan Terrano': '5',
 'Honda CR-V': '5',
 'Toyota Innova': '8',
 'Hyundai Santa Fe': '7',
 'BMW 6 Series': '4',
 'Maruti Baleno RS': '5',
 'Renault Captur': '5',
 'Maruti Vitara Brezza': '5',
 'Maruti Swift Dzire': '5',
 'Fiat Linea': '5',
 'Hyundai i20 Active': '5',
 'Honda WR-V': '5',
 'Mahindra Ssangyong Rexton': '7',
 'Toyota Corolla Altis': '5',
 'Ford Ikon': '5',
 'Mitsubishi Cedia': '5',
 'Jaguar XF': '5',
 'Audi A3': '5',
 'Skoda Kushaq': '5',
 'Volkswagen Taigun': '5',
 'MG Astor': '5',
 'Hyundai Accent': '5',
 'Mercedes-Benz B Class': '5',
 'Kia Carnival': '7',
 'Skoda Laura': '5',
 'BMW X4': '5',
 'Mini Cooper': '5',
 'Land Rover Discovery Sport': '5',
 'Kia Sonet': '5',
 'Mahindra Verito': '5',
 'Maruti S-Presso': '4',
 'Volkswagen Jetta': '5',
 'Datsun RediGO': '5',
 'Ford Aspire': '5',
 'Ford Freestyle': '5',
 'Audi Q3': '5',
 'Tata Tigor': '5',
 'Jaguar F-Pace': '5',
 'Mercedes-Benz A Class': '5',
 'Toyota Glanza': '5',
 'Nissan Magnite': '5',
 'Tata Safari Storme': '7',
 'Maruti Celerio X': '5',
 'Mercedes-Benz M-Class': '5',
 'Mercedes-Benz GLE': '5',
 'Toyota Urban cruiser': '5',
 'Mercedes-Benz CLA': '5',
 'Maruti Omni': '8',
 'Volkswagen Tiguan': '5',
 'Tata Altroz': '5',
 'Tata Indica V2': '5',
 'Toyota Innova Crysta': '8',
 'Volkswagen Ameo': '5',
 'BMW X1': '5',
 'Chevrolet Cruze': '5',
 'Toyota Camry': '5',
 'Fiat Punto Abarth': '5',
 'Mahindra TUV 300': '7',
 'Chevrolet Beat': '5',
 'Maruti Eeco': '5',
 'Citroen C5 Aircross': '5',
 'Hyundai Grand i10 Nios': '5',
 'Maruti Zen': '5',
 'Mahindra Quanto': '7',
 'Land Rover Freelander 2': '5',
 'OpelCorsa': '5',
 'Mahindra Thar': '6',
 'Mahindra Xylo': '8',
 'Tata Zest': '5',
 'Honda New Accord': '5',
 'Skoda Yeti': '5',
 'Maruti SX4': '5',
 'Jaguar XE': '5',
 'Chevrolet Spark': '5',
 'Hyundai i20 N Line': '5',
 'Chevrolet Tavera': '7',
 'BMW X7': '7',
 'Mahindra Renault Logan': '5',
 'Mahindra e2o Plus': '4',
 'Citroen C3': '5',
 'Tata Nano': '4',
 'Honda Amaze': '5',
 'Mahindra Bolero Power Plus': '9',
 'Tata Manza': '5',
 'Tata Hexa': '7',
 'Nissan Micra Active': '5',
 'Mitsubishi Lancer': '5',
 'Ford Fiesta': '5',
 'Fiat Punto': '5',
 'Kia Carens': '7',
 'Chevrolet Enjoy': '8',
 'Volkswagen Tiguan Allspace': '7',
 'Volvo XC40': '5',
 'Skoda Slavia': '5',
 'Mahindra Marazzo': '8',
 'Tata Indigo': '5',
 'Jaguar XJ': '5',
 'Skoda Fabia': '5',
 'Tata Sumo': '8',
 'Nissan Sunny': '5',
 'Fiat Palio': '5',
 'Toyota Etios': '5',
 'Mahindra Bolero': '7',
 'BMW 1 Series': '5',
 'Volvo XC 90': '4',
 'Audi A3 cabriolet': '4',
 'MG Gloster': '7',
 'Land Rover Range Rover Sport': '5',
 'Nissan Micra': '5',
 'Fiat Punto EVO': '5',
 'Mini Cooper Countryman': '5',
 'Renault Fluence': '5',
 'Maruti A-Star': '5',
 'Maruti Esteem': '5',
 'Chevrolet Sail': '5',
 'BMW 7 Series': '5',
 'Maruti XL6': '6',
 'Hyundai Sonata': '5',
 'Honda Civic': '5',
 'Isuzu MU 7': '7',
 'Maruti 800': '4',
 'Hyundai Aura': '5',
 'BMW 3 Series Gran Limousine': '5',
 'Volvo S90': '5',
 'Tata Punch': '5',
 'Honda BR-V': '7',
 'Skoda Kodiaq': '7',
 'Tata Tiago NRG': '5',
 'Datsun GO Plus': '7',
 'BMW 2 Series': '5',
 'Maruti Wagon R Stingray': '5',
 'Mini 5 DOOR': '5',
 'Fiat Grande Punto': '5',
 'Mahindra KUV 100 NXT': '5',
 'Mercedes-Benz GLA Class': '5',
 'Chevrolet Aveo': '5',
 'Land Rover Range Rover Velar': '5',
 'Tata Indica': '5',
 'Toyota Hyryder': '5',
 'Maruti Zen Estilo': '5',
 'Land Rover Range Rover Evoque': '5',
 'Maruti Versa': '8',
 'Isuzu MU-X': '7',
 'Fiat Punto Pure': '5',
 'Honda Mobilio': '7',
 'Chevrolet Optra': '5',
 'Volvo S 80': '5',
 'Mitsubishi Pajero': '6',
 'Audi A8': '5',
 'Volvo XC60': '5',
 'Volkswagen Virtus': '5',
 'Land Rover Discovery': '7',
 'Lexus ES': '5',
 'Nissan Kicks': '5',
 'Mahindra TUV 300 Plus': '9',
 'Maruti Brezza': '5',
 'Jeep Wrangler': '5',
 'Toyota Etios Cross': '5',
 'Land Rover Defender': '5',
 'Toyota Etios Liva': '5',
 'Mercedes-Benz GLC Coupe': '5',
 'Lexus RX': '5',
 'Mitsubishi Outlander': '5',
 'Mercedes-Benz CLS-Class': '4',
 'Maruti Jimny': '4',
 'Mini Cooper Clubman': '5',
 'Porsche Cayenne': '5',
 'Maruti Swift Dzire Tour': '5',
 'Mercedes-Benz GLA': '5',
 'Mercedes-Benz GLS': '7',
 'Mercedes-Benz G': '5',
 'Mini Cooper Convertible': '4',
 'Mercedes-Benz SLC': '2',
 'Isuzu D-Max': '5',
 'Maruti Grand Vitara': '5',
 'Ford Fiesta Classic': '5',
 'Maruti FRONX': '5',
 'Mahindra Alturas G4': '7',
 'Volkswagen Passat': '5',
 'Maruti Gypsy': '8',
 'Land Rover Range Rover': '5',
 'Fiat Avventura': '5',
 'Renault Scala': '5',
 'Honda City Hybrid': '5',
 'Tata Aria': '7',
 'Volvo V40': '5',
 'Tata Bolt': '5',
 'Fiat Abarth Avventura': '5',
 'Mahindra Bolero Neo': '7',
 'Tata Indigo Marina': '5',
 'Chevrolet Captiva': '7',
 'Toyota Qualis': '10',
 'Toyota Corolla': '5',
 'Volvo S60 Cross Country': '5',
 'Chevrolet Aveo U-VA': '5',
 'Porsche 911': '4',
 'Renault Pulse': '5',
 'Volkswagen CrossPolo': '5',
 'Ambassador': '5',
 'Tata Sumo Victa': '10',
 'Porsche Macan': '5',
 'Porsche Panamera': '5',
 'Mercedes-Benz AMG GT': '2',
 'Jeep Meridian': '7',
 'Jaguar F-TYPE': '2'}

Formatting the columns

In [185]:
import re
import numpy as np

In [186]:
import pandas as pd

# Simple function to convert price to float
def convert_price(price):
    if pd.isna(price):
        return None
    
    price = str(price).replace('â‚¹', '').replace(',', '').strip()
    
    if 'Lakh' in price:
        return float(price.replace('Lakh', '').strip()) * 100000
    elif 'Crore' in price:
        return float(price.replace('Crore', '').strip()) * 10000000
    else:
        return float(price)

# Apply the function
car_details_6states['Price'] = car_details_6states['Price'].apply(convert_price)

In [187]:
# Function to clean engine displacement
def clean_engine(cc):
    if pd.isna(cc):
        return np.nan
    return str(cc).replace('cc', '').strip()

# Apply the function
car_details_6states['Engine_Displacement(cc)'] = car_details_6states['Engine_Displacement(cc)'].apply(clean_engine)

In [188]:
# Function to clean mileage
def mileage_conv(x):
    match = re.search('kmpl$', x)
    if match:
        res = float(str(x).rstrip('kmpl'))
        return res

# Apply the function
car_details_6states['Mileage(kmpl)'] = car_details_6states['Mileage(kmpl)'].apply(mileage_conv)

In [190]:
def convert_power_to_hp(x):
    if pd.isna(x):
        return np.nan

    x = str(x).lower().strip()

    # Extract the first number (handles decimals)
    match = re.findall(r'\d+\.?\d*', x)
    if not match:
        return np.nan

    value = float(match[0])

    # Convert based on unit
    if 'ps' in x:
        return round(value * 0.98632, 2)
    elif 'kw' in x:
        return round(value * 1.34102, 2)
    else:
        # Assume bhp/hp or no unit is already in hp
        return round(value, 2)
    
# Apply the function
car_details_6states['Max_Power(bhp)'] = car_details_6states['Max_Power(bhp)'].apply(convert_power_to_hp)

In [191]:
def clean_kms(kms):
    if pd.isna(kms):
        return np.nan
    return int(str(kms).replace(',', '').strip())

car_details_6states['Kms_Driven'] = car_details_6states['Kms_Driven'].apply(clean_kms)

Calculating the cars' Age and dropping the manufactured year

In [192]:
def age(x):
    car_age = 2025 - x
    return car_age
car_details_6states['Car_Age'] = car_details_6states['Year_Of_Manufac'].apply(age)

In [193]:
car_details_6states.drop(['Year_Of_Manufac'],axis=1,inplace=True)
car_details_6states.dropna(inplace=True)

In [194]:
car_details_6states.reset_index(drop=True, inplace=True)

In [195]:
car_details_6states

,Fuel_Type,Body_Type,Kms_Driven,Owner_No,Manufacturer,Model,Price,Engine_Displacement(cc),Transmission_Type,Mileage(kmpl),Max_Power(bhp),Seats,Car_Age
0,Petrol,Hatchback,120000,3,Maruti,Maruti Celerio,400000.0,998,Manual,23.10,67.04,5,10
1,Petrol,SUV,32706,2,Ford,Ford Ecosport,811000.0,1497,Manual,17.00,121.31,5,7
2,Petrol,Hatchback,11949,1,Tata,Tata Tiago,585000.0,1199,Manual,23.84,84.00,5,7
3,Petrol,Sedan,17794,1,Hyundai,Hyundai Xcent,462000.0,1197,Manual,19.10,81.86,5,11
4,Diesel,SUV,60000,1,Maruti,Maruti SX4 S Cross,790000.0,1248,Manual,23.65,88.50,5,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7873,Petrol,Hatchback,10000,1,Maruti,Maruti Celerio,510000.0,998,Manual,25.24,65.71,5,3
7874,Petrol,Hatchback,120000,1,Maruti,Maruti Alto 800,180000.0,796,Manual,22.74,47.30,5,11
7875,Petrol,Sedan,50000,3,Mercedes-Benz,Mercedes-Benz C-Class,550000.0,1796,Automatic,11.74,186.00,5,14
7876,Petrol,Hatchback,40000,1,Maruti,Maruti Ritz,140000.0,1197,Manual,18.50,85.80,5,13
7877,Diesel,SUV,120000,2,Renault,Renault Duster,500000.0,1461,Manual,19.72,108.45,5,8

In [214]:
car_details_6states.columns

Index(['Kms_Driven', 'Owner_No', 'Price', 'Engine_Displacement(cc)',
       'Mileage(kmpl)', 'Max_Power(bhp)', 'Seats', 'Car_Age'],
      dtype='object')

In [ ]:
car_details_6states["Engine_Displacement(cc)"].unique()

In [ ]:
car_details_6states["Mileage(kmpl)"].unique()

In [ ]:
car_details_6states["Max_Power(bhp)"].unique()

In [215]:
car_details_6states["Kms_Driven"].unique()

array([120000,  32706,  11949, ...,  53562,  32190, 151000], shape=(3972,))

In [196]:
car_details_6states.isnull().sum()

Fuel_Type                  0
Body_Type                  0
Kms_Driven                 0
Owner_No                   0
Manufacturer               0
Model                      0
Price                      0
Engine_Displacement(cc)    0
Transmission_Type          0
Mileage(kmpl)              0
Max_Power(bhp)             0
Seats                      0
Car_Age                    0
dtype: int64

In [197]:
car_details_6states.to_csv("cars_dekho.csv",index=False)

Encoding the columns

In [198]:
from sklearn.preprocessing import OneHotEncoder

In [199]:
encoder=OneHotEncoder()
encoded_data=encoder.fit_transform(car_details_6states[['Fuel_Type', 'Body_Type', 'Manufacturer',
       'Model','Transmission_Type']])
encoded_data.toarray()

array([[0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 1., 0., ..., 0., 0., 1.]], shape=(7878, 330))

In [200]:
encoded_df = pd.DataFrame(encoded_data.toarray(),columns=encoder.get_feature_names_out(['Fuel_Type', 'Body_Type', 'Manufacturer',
       'Model','Transmission_Type']))

In [201]:
encoded_df

,Fuel_Type_Cng,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Lpg,Fuel_Type_Petrol,Body_Type_,Body_Type_Convertibles,Body_Type_Coupe,Body_Type_Hatchback,Body_Type_Hybrids,...,Model_Volvo S 80,Model_Volvo S60,Model_Volvo S60 Cross Country,Model_Volvo S90,Model_Volvo V40,Model_Volvo XC 90,Model_Volvo XC40,Model_Volvo XC60,Transmission_Type_Automatic,Transmission_Type_Manual
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7873,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
7874,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
7875,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
7876,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
7877,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [202]:
car_details_6states.drop(['Fuel_Type', 'Body_Type', 'Manufacturer',
       'Model','Transmission_Type'], axis=1,inplace=True)

In [203]:
df_combined = pd.concat([car_details_6states,encoded_df], axis=1)

In [205]:
df_combined

,Kms_Driven,Owner_No,Price,Engine_Displacement(cc),Mileage(kmpl),Max_Power(bhp),Seats,Car_Age,Fuel_Type_Cng,Fuel_Type_Diesel,...,Model_Volvo S 80,Model_Volvo S60,Model_Volvo S60 Cross Country,Model_Volvo S90,Model_Volvo V40,Model_Volvo XC 90,Model_Volvo XC40,Model_Volvo XC60,Transmission_Type_Automatic,Transmission_Type_Manual
0,120000,3,400000.0,998,23.10,67.04,5,10,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,32706,2,811000.0,1497,17.00,121.31,5,7,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,11949,1,585000.0,1199,23.84,84.00,5,7,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,17794,1,462000.0,1197,19.10,81.86,5,11,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,60000,1,790000.0,1248,23.65,88.50,5,10,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7873,10000,1,510000.0,998,25.24,65.71,5,3,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
7874,120000,1,180000.0,796,22.74,47.30,5,11,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
7875,50000,3,550000.0,1796,11.74,186.00,5,14,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
7876,40000,1,140000.0,1197,18.50,85.80,5,13,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
7877,120000,2,500000.0,1461,19.72,108.45,5,8,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [204]:
df_combined.to_csv('final_car_data.csv',index =False)

In [90]:
df_combined

,Kms_Driven,Owner_No,Price,Engine_Displacement(cc),Mileage(kmpl),Max_Power(bhp),Seats,Car_Age,Fuel_Type_Cng,Fuel_Type_Diesel,...,Insurance_Validity_Third Party insurance,Insurance_Validity_Zero Dep,Transmission_Type_Automatic,Transmission_Type_Manual,City_bangalore,City_chennai,City_delhi,City_hyderabad,City_jaipur,City_kolkata
0,120000,3,400000.0,998,23.10,67.04,5,10,0.0,0.0,...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
1,32706,2,811000.0,1497,17.00,121.31,5,7,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2,11949,1,585000.0,1199,23.84,84.00,5,7,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
3,17794,1,462000.0,1197,19.10,81.86,5,11,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
4,60000,1,790000.0,1248,23.65,88.50,5,10,0.0,1.0,...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7889,10000,1,510000.0,998,25.24,65.71,5,3,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
7890,120000,1,180000.0,796,22.74,47.30,5,11,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
7891,50000,3,550000.0,1796,11.74,186.00,5,14,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
7892,40000,1,140000.0,1197,18.50,85.80,5,13,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
7893,120000,2,500000.0,1461,19.72,108.45,5,8,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0

In [206]:
df_combined.isnull().sum()

Kms_Driven                     0
Owner_No                       0
Price                          0
Engine_Displacement(cc)        0
Mileage(kmpl)                  0
                              ..
Model_Volvo XC 90              0
Model_Volvo XC40               0
Model_Volvo XC60               0
Transmission_Type_Automatic    0
Transmission_Type_Manual       0
Length: 338, dtype: int64

In [209]:
df_combined.duplicated().sum()

np.int64(0)

In [210]:
import pickle

# Save the fitted encoder
with open('encoder.pkl', 'wb') as file:
    pickle.dump(encoder, file)